.list{
  display:flex;
  flex-direction: column ;
  justify-content:flex-start ;
  height: 100%;
  &__iconList{
    border-bottom:1px white solid;
    &__IMG{
      width: 22%;
      filter: invert(100%) sepia(28%) saturate(2%) hue-rotate(333deg) brightness(104%) contrast(100%);
      padding:5%;
    }
  }
  &__ul{
    width: 100%;
    // height: auto;
    max-height: 50vh;
    overflow-y:auto;
    font-size: 1em;
    &__li{
      position:relative;
      color:white;
      padding-left:1% ;
      cursor: pointer;
      &:hover::after{
        content:'';
        position:absolute;
        top: 0;
        left: 0;
        background:linear-gradient(90deg, rgba(255, 255, 255, 0.295)0%, rgba(255, 255, 255, 0)100%);
        width: 100%;
        height: 100%;
        animation:hover .2s;
      }
      @keyframes hover{
        0%{width: 0;}
        100%{width: 100%;}
      }
    }
  }
  &__iconAdd{
    display:flex;
    justify-content:center ;
    align-items:center;
    width: 100%;
    border:1px white solid;
    cursor: pointer;
    &__IMG{
      filter: invert(100%) sepia(28%) saturate(2%) hue-rotate(333deg) brightness(104%) contrast(100%);
      width: 22%;
      padding:5%;
    }
    &__alert{
      position:absolute;
      color:white;
      font-size: .6em;
      transform: translateX(80%);
      backdrop-filter:blur(5px);
      animation:list__iconAdd__alert .5s infinite alternate;
      @keyframes list__iconAdd__alert {
        0%{  color:white;}
        100%{  color:rgb(0, 255, 0);}
      }
    }
  }
  @media (min-width:1025px){
    width: 100%;
    &__ul{
      &__li{
        height: 4w;
        line-height: 4vw;
        &:active{
          animation:active .2s;
        }
        @keyframes active{
          0%{font-size: 1em;}
          50%{font-size: 1.1em;}
          100%{font-size: 1em;}
        }
      }
    }
  }
  @media (min-width:481px) and (max-width:1024px){
    height: 55vh;
    &__iconList{
      border-bottom:1px white solid;
      &__IMG{
        width: 18%;
        filter: invert(100%) sepia(28%) saturate(2%) hue-rotate(333deg) brightness(104%) contrast(100%);
        padding:4%;
      }
    }
    &__ul{
      &__li{
        height: 5vw;
        line-height: 5vw;
        font-size: 1em;
        &:active{
          animation:active .2s;
        }
        @keyframes active{
          0%{font-size: 1em;}
          50%{font-size: 1.3em;}
          100%{font-size: 1em;}
        }
      }
    }
    &__iconAdd{
      display:flex;
      justify-content:center ;
      align-items:center;
      width: 100%;
      border:1px white solid;
      &__IMG{
        filter: invert(100%) sepia(28%) saturate(2%) hue-rotate(333deg) brightness(104%) contrast(100%);
        width: 18%;
        padding:4%;
      }
    }
  }
  @media (max-width:480px) {
    &__iconList{
      border-bottom:1px white solid;
      &__IMG{
        width: 17%;
        filter: invert(100%) sepia(28%) saturate(2%) hue-rotate(333deg) brightness(104%) contrast(100%);
        padding:5%;
      }
    }
    &__ul{
      height: auto;
      overflow-x:auto;
      &__li{
        font-size: 5vw;
        height: 14vw;
        min-height: 30px;
        line-height: 14vw;
        &:active{
          animation:active .2s;
        }
        @keyframes active{
          0%{font-size: 5vw;}
          50%{font-size: 6vw;}
          100%{font-size: 5vw}
        }
      }
    }
    &__iconAdd{
      display:flex;
      justify-content:center ;
      align-items:center;
      width: 100%;
      border:1px white solid;
      &__IMG{
        filter: invert(100%) sepia(28%) saturate(2%) hue-rotate(333deg) brightness(104%) contrast(100%);
        width: 17%;
        padding:4%;
      }
    }
  }
}