.list{
  display:flex;
  flex-direction: column ;
  justify-content:flex-start ;
  height: 100%;
  &__iconList{
    border-bottom:1px white solid;
    &__IMG{
      width: 22%;
      filter: invert(100%) sepia(28%) saturate(2%) hue-rotate(333deg) brightness(104%) contrast(100%);
      padding:5%;
    }
  }
  &__ul{
    width: 100%;
    height: auto;
    max-height: 50vh;
    overflow-x:auto;
    &__li{
      position:relative;
      color:white;
      padding-left:3% ;
      &:hover::after{
        content:'';
        position:absolute;
        top: 0;
        left: 0;
        background:linear-gradient(90deg, rgba(255, 255, 255, 0.295)0%, rgba(255, 255, 255, 0)100%);
        width: 100%;
        height: 100%;
        animation:hover .2s;
      }
      @keyframes hover{
        0%{width: 0;}
        100%{width: 100%;}
      }
    }
  }
  &__iconAdd{
    display:flex;
    justify-content:center ;
    align-items:center;
    width: 100%;
    border:1px white solid;
    &__IMG{
      filter: invert(100%) sepia(28%) saturate(2%) hue-rotate(333deg) brightness(104%) contrast(100%);
      width: 22%;
      padding:5%;
    }
  }

  @media (min-width:1025px){

    &__ul__li{
      height: 5;
      line-height: 5vw;
      &:active{
        animation:active .2s;
      }
      @keyframes active{
        0%{font-size: 3vw;}
        50%{font-size: 3.3vw;}
        100%{font-size: 3vw;}
      }
    }
  }
  @media (min-width:481px) and (max-width:1024px){
    width: 90%;
    height: 100%;
    &__ul{
      height: auto;
      max-height: 40vh;
      overflow-x:auto;
      &__li{
        height: 5vw;
        line-height: 5vw;
        &:active{
          animation:active .2s;
        }
        @keyframes active{
          0%{font-size: 4vw;}
          50%{font-size: 4.3vw;}
          100%{font-size: 4vw;}
        }
      }
    }
  }
  @media (max-width:480px) {

    &__iconList{
      border-bottom:1px white solid;
      &__IMG{
        width: 19%;
        filter: invert(100%) sepia(28%) saturate(2%) hue-rotate(333deg) brightness(104%) contrast(100%);
        padding:5%;
      }
    }
    &__ul{
      height: auto;
      max-height: 400px;
      overflow-x:auto;
      &__li{
        height: 14vw;
        line-height: 14vw;
        &:active{
          animation:active .2s;
        }
        @keyframes active{
          0%{font-size: 7vw;}
          50%{font-size: 7.3vw;}
          100%{font-size: 7vw;}
        }
      }
    }
    &__iconAdd{
      display:flex;
      justify-content:center ;
      align-items:center;
      width: 100%;
      border:1px white solid;
      &__IMG{
        filter: invert(100%) sepia(28%) saturate(2%) hue-rotate(333deg) brightness(104%) contrast(100%);
        width: 19%;
        padding:4%;
      }
    }
  }
}