.clock{
  display:flex;
  justify-content:center ;
  align-items:center;
  flex-direction: column ;
  height: 100%;

  &__mission{
    display:flex;
    justify-content:center;
    align-items: center;
    font-size: 30px;
    line-height: 30px;
    color:#a7ddff;
    margin-bottom:10px;
    &__switch{
      cursor: pointer;
      width: 30px;
      filter: invert(78%) sepia(10%) saturate(1791%) hue-rotate(180deg) brightness(107%) contrast(101%);  
    }
  }

  &__timeWrap{
    display:flex;
    justify-content:center ;
    align-items:center;
    border:1px solid #a7ddff;
    border-radius: 50%;
    min-width: 240px;
    min-height: 240px;
    @media (min-width:1025px){
      height: 50vh;
      width: 50vh;
    }
    @media (min-width:481px) and (max-width:1024px){
      height: 45vh;
      width: 45vh;
    }
    @media (max-width:480px) {
      height: 70vw;
      width: 70vw;
    }
    &__time{
      position:absolute;
      color: #a7ddff;
      border-radius: 10px;
      font-family:-apple-system, 'Segoe UI','Open Sans', 'Helvetica Neue';
      @media (min-width:1025px){
        font-size: 90px;
      }
      @media (min-width:481px) and (max-width:1024px){
        font-size: 70px;
      }
      @media (max-width:480px) {
        font-size: 60px;
      }
    }
  }
}