.speedButton{
  height: 100%;
  width:100%;
  display:flex;
  justify-content:space-around;
  align-items:center;
  font-family:-apple-system, 'Segoe UI';

  >button{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: transparent;
    color:#a7ddff;
    border-radius:12%;
    padding:1vw;
    border:none;
    letter-spacing: 2px;
    cursor: pointer;
    &:hover{
      border:#a7ddff 1px solid;
    }
  }
  &__normalButton{

  }

  &__slowButton{
 
  }

  &__speedyButton{

  }

  &__fastButton{
   
  }

  @media (min-width:1025px){
    flex-direction: column ;
    >button{
      font-size:14px;
      width: 17vh;
      height:  17vh;
    }
  }
  @media (min-width:481px) and (max-width:1024px){
    flex-direction: row ;
    >button{
      width: 17vh;
      height:  17vh;
      max-width:22vw;
      max-height:22vw;
    }
  }
  @media (max-width:480px) {
    flex-direction: row ;
    >button{
      background:#1D6A96;
      width: 17vh;
      height:  17vh;
      max-width:22vw;
      max-height:22vw;
    }
  }
}