.CalendarForm{
  width: 100%;
  height: 100%;
  z-index: 9999;
  &__outside{
    display:block;
    width: 100%;
    height:100%;
    animation: CalendarForm1 .5s forwards;
    @keyframes CalendarForm1 {
      0%{backdrop-filter:brightness(100%)}
      100%{backdrop-filter:brightness(60%)}
    }
  }
  &__inner{
    position:absolute;
    display:block;
    top: 20%;
    left: 30%;
    width: 40%;
    height: 50%;
    background:linear-gradient(0deg,#68c598,#028C6A);
    box-shadow: 0px 1px 3px 2px  #00723ba1;
    padding:2% 2% 1.5% 2%; 
    overflow:hidden;
    border-radius:1em;
    @media (min-width:481px) and (max-width:1024px){
      left: 20%;
      width: 60%;
      margin-top: 2%;;
    }
    @media (max-width:480px) {
      left: 5%;
      width: 90%;
    }
    &__close{
      float:right;
      background:url('../../assets/img/icon/cancel.svg');
      filter: invert(100%) sepia(0%) saturate(5034%) hue-rotate(227deg) brightness(113%) contrast(100%);
      width: 12px;
      height: 12px;
      text-align: center;
      line-height: 12px;
      z-index: 10;
      transition:.1s;
      cursor: pointer;
      &:hover{
        filter: invert(17%) sepia(9%) saturate(2129%) hue-rotate(151deg) brightness(91%) contrast(83%);  
      }  
    }
    &__date{
      float:right;
      color:#7BC5A1;
      font-size: 19vh;
      margin-top:-8vh;
      margin-right:20px;
      @media (min-width:481px) and (max-width:1024px){
        font-size: 13vh;
        margin-top:-5vh;
      }
      @media (max-width:480px) {
        font-size: 12vh;
        margin-top:-4vh;
      }
    }
    &__plan{
      color:#D1DDDB;
      overflow:hidden;
      width: 50%;
      height: 50%;
      margin-bottom:1%;
      font-size: 14px;
      strong{
        font-size: 3vh;
      }
      ul{
        height: 80%;
        width: auto;
        overflow:auto;
        li{
          display:flex;
          justify-content:flex-start;
          align-items:center;
          margin-bottom:1px;
          width:max-content;
          div{
            border:1px#D1DDDB solid;
            border-radius:2px;
            margin-left:4px;
            width: auto;
            &:hover{
              border:#283B42 1px solid;
            }
          }
        }
      }
    }
    &__addPlan{
      display:flex;
      justify-content:flex-start;
      flex-direction:column;
      color:#D1DDDB;
      width: 100%;
      height: 50%;
      font-size: 12px;
      strong{
        font-size: 3vh;
      }
      input{
        border:none;
        outline:none;
        margin-bottom:1%;
      }
      :nth-child(4){
        display:flex;
        justify-content:flex-end;
        align-items:flex-end;
        height: 100%;
        margin:0 1% 1% 0;
        input{
          background:#D1DDDB;
          border:#D1DDDB 1px solid;
          color:#283B42;
          border-radius:2px;
          margin-right:1%;
          &:hover{
            border:#283B42 1px solid;
          }
        }
      }
    }
  }
}