.CalendarForm{
  position:absolute;
  width: 100%;
  height: 100%;
  // background:red;

  &__outside{
    display:block;
    width: 100%;
    height: 100%;
    background:black;
    opacity:.5;
  }
  &__inner{
    position:absolute;
    display:block;
    top: 20%;
    left: 30%;
    width: 40%;
    height: 50%;
    background:#1D6A96;
    padding:3% 2% 1.5% 2%; 
    overflow:hidden;

    &__date{
      float:right;
      color:#85B8CB;
      font-size: 25vh;
      margin-top:-12vh;
    }
    &__plan{
      color:#D1DDDB;
      overflow:hidden;
      width: 50%;
      height: 50%;
      margin-bottom:1%;
      font-size: 14px;
      strong{
        font-size: 3vh;
      }
      ul{
        height: 80%;
        width: auto;
        overflow:auto;
        li{
          display:flex;
          justify-content:flex-start;
          align-items:center;
          margin-bottom:1px;
          width:max-content;
          div{
            border:1px#D1DDDB solid;
            border-radius:2px;
            margin-left:4px;
            width: auto;
            &:hover{
              border:#283B42 1px solid;
            }
          }
        }
      }

    }
    &__addPlan{
      display:flex;
      justify-content:flex-start;
      flex-direction:column;
      color:#D1DDDB;
      width: 100%;
      height: 50%;
      font-size: 12px;
      strong{
        font-size: 3vh;
      }
      input{
        border:none;
        outline:none;
        margin-bottom:1%;
      }
      :nth-child(4){
        display:flex;
        justify-content:flex-end;
        align-items:flex-end;
        height: 100%;
        input{
          background:#D1DDDB;
          border:#D1DDDB 1px solid;
          color:#283B42;
          border-radius:2px;
          margin-right:1%;
          &:hover{
            border:#283B42 1px solid;
          }
        }
      }

    }
    
  }
}