.ListAdd{
  display:flex;
  flex-direction: column ;
  justify-content:flex-start ;
  height: 100%;
  color:rgb(255, 255, 255);
 
  &__iconAdd{
    border-bottom:1px white solid;
    &__IMG{
      width: 22%;
      filter: invert(100%) sepia(28%) saturate(2%) hue-rotate(333deg) brightness(104%) contrast(100%);
      padding:5%; 
    }
  }
  &__form{
    padding:.6em ;
    backdrop-filter:blur(5px);
    font-size: .8em;
    &__title{
      letter-spacing:1px;
      font-weight:600;
      margin-bottom: 1em;
    }
    input{
      width: 100%;
      margin-top:.8vw;
      padding:.5em .7em ;
      border:none;
      outline:none;
      box-shadow: 0 1px 2px rgba(118, 239, 255, 0.432);
      background:rgba(255, 255, 255, 0.932);
      color:black;
      border-radius:50px;
      &:hover,&:focus{
        box-shadow: 0px  1px 1.5px 1px rgba(118, 239, 255, 0.678);
        background:rgb(255, 255, 255);
      }
      &::placeholder{
        color:#666;
      }
    }
    &__check{
      display:flex;
      justify-content:flex-start;
      align-items:center;
      button{
        cursor: pointer;
        margin-top:1.5vw;
        padding:.2em 1.2em;
        border:none;
        outline:none;
        border-radius:50px;
        font-size: .8em;
        font-weight: 600;
        background:white;
        color:#396eff;
        transition:.1s;
        margin-bottom: 1em;
        white-space:nowrap;
        &:hover{
          color:rgb(37, 70, 255);
        }
        &:active{
            background:#4c49ff;
            color:rgb(255, 255, 255);
        }
      }
      &__alert{
        font-size: .8em;
        margin-left:.5em;
      }
    }
  }
  &__iconList{
    display:flex;
    justify-content:center ;
    align-items:center;
    width: 100%;
    border:1px white solid; 
    cursor: pointer;
    &__IMG{
      filter: invert(100%) sepia(28%) saturate(2%) hue-rotate(333deg) brightness(104%) contrast(100%);
      width: 22%;
      padding:5%;  
    }
  }

  @media (min-width:1025px){
    padding-top:5vh;
    width: 100%;
  }
  @media (min-width:481px) and (max-width:1024px){
    padding-top:2vh;
    width: 100%;
    height: 100%;
    h2{
      font-size: 1.3em;
    }
    input{
      width: 100%;
      margin-bottom: .5em;
    }
  }
  @media (max-width:480px) {
    &__iconAdd{
      border-bottom:1px white solid;
      &__IMG{
        width:17%;
        filter: invert(100%) sepia(28%) saturate(2%) hue-rotate(333deg) brightness(104%) contrast(100%);;
        padding:5%;
      }
    }
    h2{
      font-size: 1.3em;
      margin-bottom:1em;
    }
    input{
      min-height: 30px;
      font-size: 1em;
      border-radius:50px;
      margin-bottom: .5em;
    }
    &__iconList{
      display:flex;
      justify-content:center ;
      align-items:center;
      width: 100%;
      border:1px white solid;
      &__IMG{
        filter: invert(100%) sepia(28%) saturate(2%) hue-rotate(333deg) brightness(104%) contrast(100%);
        width: 17%;
        padding:4%;
      }
    }
  }
}