.Reset{
  display:flex;
  justify-content:center;
  align-items:center; 
  width: 3em;
  height:3em;
  margin:.1em .5em 0 0;
  // background:red;
  &__imgWrap{
    display:flex;
    justify-content:center;
    align-items:center; 
    width: 2.4em;
    height: 2.4em;
    position:relative;
    &:before{
      content:'重製';
      position:absolute;
      bottom: -20%;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      backdrop-filter:blur(5px);
      border:1px solid white;
      color:white;
      font-size: 14px;
      text-align: center;;
      border-radius:2px;
      z-index: 10;
      pointer-events:none;
    }
    &__img{
      width: 1.8em;
      height: 1.8em;
      filter: invert(100%) sepia(28%) saturate(2%) hue-rotate(333deg) brightness(104%) contrast(100%);
      transition:.1s;
      cursor: pointer;
      background-image: url('../../assets/img/icon/Reset.png');
      background-repeat: no-repeat; 
      background-size:cover;
      &:hover{
        width: 2.4em;
        height: 2.4em;
      }
    }
  }
  &__question{
    position:absolute;
    right: .5em;
    top: 4em;
    z-index:20;
    width: 160px;
    height: 70px;
    min-width:18vw;
    background:linear-gradient(180deg,#3b3b50,#272641);
    border-radius:10px;
    border:1px rgba(255, 255, 255, 0.479) solid;
    color:white;
    padding:.5em ;
    overflow: hidden;
    >p{
      display:inline-block;
      position:absolute;
      width: 100%;
      animation:question_P .3s forwards;
      @keyframes question_P{
        0%{top:40%}
        50%{top:0%}
        100%{top:7%}
      }
    }
    >input{
      position:absolute;
      margin-right:2vh;
      visibility: hidden;
      cursor: pointer;
      color:white;
      border-radius:10px;
      outline: none;
      border:none;
      width: 40px;
      &:hover{
        border:1px solid green;
      }
    }
    &__YES{
      background:linear-gradient(180deg,#616163,#434463);
      animation:question_input .3s forwards;
      animation-delay: .1s;

      @keyframes question_input{
        0%{bottom:-20%;visibility: visible;}
        50%{bottom:20%;visibility: visible;}
        100%{bottom:15%;visibility: visible;}
      }
    }
    &__NO{
      background:linear-gradient(180deg,#6478e9,#4345e4);
      margin-left:60px;
      animation:question_input2 .3s forwards;
      animation-delay: .2s;
      @keyframes question_input2{
        0%{bottom:-20%;visibility: visible;}
        50%{bottom:20%;visibility: visible;}
        100%{bottom:15%;visibility: visible;}
      }
    }
  }
}